<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.detaysoftmobil"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />    
    
    <uses-permission android:name="android.permission.CALL_PHONE" />        
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.detaysoftmobil.Login"      android:label="@string/app_name"   android:windowSoftInputMode="stateAlwaysHidden"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.detaysoftmobil.MainActivity"      android:label="@string/app_name"   android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PersonelListesi"      android:label="@string/app_name"    >
            <intent-filter>
                <action android:name="android.intent.action.PERSONELLISTESI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity android:name=".Detail"   android:label="@string/app_name" >
             <intent-filter>
                <action android:name="android.intent.action.DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
            <activity android:name=".Aktiviteler"      android:label="@string/app_name"  android:windowSoftInputMode="stateAlwaysHidden"  >
            <intent-filter>
                <action android:name="android.intent.action.AKTIVITELER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
        <activity android:name=".Aktivite_Detay"      android:label="@string/app_name"    >
            <intent-filter>
                <action android:name="android.intent.action.AKTIVITE_DETAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
         <activity android:name="com.example.aktivite.BelirliAktiviteDetay"      android:label="@string/app_name"   android:windowSoftInputMode="stateAlwaysHidden"  >
            <intent-filter>
                <action android:name="android.intent.action.BELIRLIAKTIVITEDETAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.aktivite.YeniAktivite"      android:label="@string/app_name"   android:windowSoftInputMode="stateAlwaysHidden"  >
            <intent-filter>
                <action android:name="android.intent.action.YENIAKTIVITE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.aktivite.FavoriAdapter"      android:label="@string/app_name"   android:windowSoftInputMode="stateAlwaysHidden"  >
            <intent-filter>
                <action android:name="android.intent.action.FAVORIADAPTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
        
        
    </application>
    
    
    <supports-screens
	    android:largeScreens="true"
		android:xlargeScreens="true"
		android:normalScreens="true" 
		android:anyDensity="true" />

</manifest>